services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pantry_app_development
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build:
      context: .
      target: dev
    depends_on:
      - db
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://postgres:password@db:5432/pantry_app_development
    volumes:
      - .:/rails
      - bundle_data:/usr/local/bundle
    ports:
      - "3000:3000"

volumes:
  db_data:
  bundle_data:
