<section class="section">
  <h2 class="section-title">グループ作成</h2>
  <%= form_with model: @group, url: group_path, html: { class: "input-form" } do |f| %>
    <div><%= f.label :name, "グループ名" %></div>
    <div><%= f.text_field :name %></div>

    <div class="actions">
      <%= f.submit "作成", class: "submit-btn" %>
    </div>
  <% end %>
</section>
