<h1>ダッシュボード</h1>

<% if current_user.group.present? %>
  <p>所属グループ名: <%= current_user.group.name %></p>
<% else %>
  <p>まだグループに所属していません。</p>
<% end %>

<%= link_to "グループを作成", new_group_path %>
<%= link_to "グループに参加", join_group_path %>
